# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
.vs/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
flutter-*.log

# Project specific
build.bat
dhcp_server.py
unlocker428/
.reasonix/
.reasonix/
BOOT-INF/
com/
*.class
speedtest-debug.json
line-list-debug.json
user-info-debug.json
flutter-*.log
flutter_*.png
wpf_screen.png
*.err.log
*.out.log
